  @media (max-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    body .cart {
    flex-direction: column;
    width: 90vw;
    height: 70vh;
    box-shadow:
    55px 85px 160px -70px rgba(0, 0, 0, 0.15),
    -55px 85px 160px -70px rgba(0, 0, 0, 0.15); 
    }

    body .img-div {
        width: 100%;
        border-radius: 0.9rem 0.9rem 0 0;
        background-color: aqua;

        img {
            width: 100%;
            height: auto;
        }
    }

    body .info {
        padding: 2rem 2rem 1.5rem 2.5rem;
        width: 100%;
        height: 70%;

        h1 {
            @include fluid-text(25, 18);
            width: 90%;
            line-height: 1.5rem;
        }
    }

}