@import 'mixins';
@import 'media';

* {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body {
    position: relative;
    @include flex-center;
    background-color: hsl(210, 46%, 95%);
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.cart {
    position: relative;
    display: flex;
    width: 60vw;
    flex-direction: row;
    height: auto;
    box-shadow:
    55px 85px 160px -70px rgba(0, 0, 0, 0.15);
    border-radius: 0.9rem;
    box-sizing: border-box;
}

.img-div {
    position: relative;
    width: 35%;
    box-sizing: border-box;
    overflow: hidden;
    @include flex-center;

    border-radius: 0.9rem 0 0 0.9rem;

    img {
        height: 100%;
    }
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 5rem 1.5rem 2.5rem;
    box-sizing: border-box;
    width: 65%;


    h1 {
        position: relative;
        display: block;
        line-height: 1.1em;
        @include fluid-text(40, 20);
        color: hsl(217, 19%, 35%);
        font-weight: 600;
        width: auto;
        height: auto;
    }

    p {
        position: relative;
        display: block;
        line-height: 1.5em;
        width: auto;
        height: auto;
        color: hsl(214, 17%, 51%);
        font-weight: 400;
        @include fluid-text(20, 14);
        
    }

    .bottom-div {
        display: flex;
        position: relative;
        flex-direction: wrap;
        width: 100%;
        box-sizing: border-box;

        .avatar-div {
            width: 3rem;
            @include flex-center;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }

        #name-div {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            padding-left: 2rem;

            p:first-child{
                font-weight: 700;
                color: hsl(217, 19%, 35%);
            }
            
        }

        .btn-div {
            position: relative;
            width: 27%;
            display: flex;
            flex-direction: row;
            height: auto;
            box-sizing: border-box;
            justify-content: end;
            align-items: center;

            button {
                position: relative;
                border: none;
                width: 2rem;
                height: 2rem;
                cursor: pointer;
                @include flex-center;
                border-radius: 50%;
                z-index: 101;
                background-color: transparent;

            .sharing-div {
                display: flex;
                position: absolute;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                height: 3.5rem;
                background-color: hsl(217, 19%, 35%);
                color: hsl(214, 17%, 51%);
                width: 15rem;
                z-index: 100;
                border-radius: 10px;
                bottom: 150%;
                opacity: 0;
                transform-origin: bottom center;
                transform: translateY(10px);
                transition: all 0.3s ease-out;

                svg {
                cursor: pointer;
                }

                p{
                    letter-spacing: 0.15rem;
                    font-weight: 700;
                    font-size: 1rem;
                }
            }

        }
            
    }

        .sharing-div::after {
            position:absolute;
            content: "";
            left: 50%;
            top: 99%;
            border-width: 13px 13px 0 13px;
            border-style: solid;
            transform: translateX(-50%);
            border-color: hsl(217, 19%, 35%) transparent transparent transparent;
        }

        .sharing-div-mobile {
                display: flex;
                position: absolute;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                height: 3.5rem;
                background-color: hsl(217, 19%, 35%);
                color: hsl(214, 17%, 51%);
                width: 100%;
                height: 30%;
                z-index: 100;
                border-radius: 0px 0 10px 10px;
                bottom: 0;
                left: 0;
                opacity: 0;
                transform-origin: bottom center;
                transition: all 0.3s ease-out;

                svg {
                cursor: pointer;
                }

                p{
                    letter-spacing: 0.15rem;
                    font-weight: 700;
                    font-size: 1rem;
                }
        }


    }

    
}

.change-fill-in-btn {
    fill: hsl(210, 46%, 95%);
}

.change-color-in-btn {
    background-color: hsl(217, 19%, 35%) !important;
}

.visible {
    display: flex !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: all 0.3s ease-out !important;
}

