@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-btw-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column-center-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@mixin flex-row-end-center {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}