@media (min-width: 600px) {
    .FAQ {
        gap: 32px;
        padding: 40px;
        border-radius: var(--faq-border-radius-desktop);
    }
}

@media (hover: hover) and (pointer: fine) {
    .title:hover {
        color: var(--color-violet-600);
    }
}

@media (hover: none) and (pointer: coarse) {
    .title:active {
        color: var(--color-violet-600);
    }
}