:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-purple-950: #301534;
    --color-purple-600: #8B6990;
    --color-purple-100: #F8EEFF;
    --color-violet-600: #AD28EB;
    --faq-box-shadow: 0 56px 56px rgba(80, 0, 118, 0.1);
    --faq-border-radius: 8px;
    --faq-border-radius-desktop: 16px;
    --fast: 0.3s ease;
}