.overpass-preset-1-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.188rem;
  letter-spacing: 0;
}

.overpass-preset-2-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0;
}

.overpass-preset-3-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
}

.overpass-preset-4-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 1.188rem;
  letter-spacing: 0.125rem;
}

.overpass-preset-4-regular {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
}

.overpass-preset-5-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.117rem;
}

.overpass-preset-5-semiBold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.011rem;
}

.overpass-preset-5-regular {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0;
}