:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey-950: #131518;
    --color-grey-900: #262E38;
    --color-grey-500: #969FAD;
    --color-orange-500: #FC7614;
    --background-gradient: linear-gradient(to bottom, #232A34, #181E27);

    --border-radius-mobile: 15px;
    --border-radius-desktop: 30px;
    --border-radius-medium: 22.5px;

    --fast: 0.2s ease;
}