@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-grey-950: #131518;
  --color-grey-900: #262E38;
  --color-grey-500: #969FAD;
  --color-orange-500: #FC7614;
  --background-gradient: linear-gradient(to bottom, #232A34, #181E27);
  --border-radius-mobile: 15px;
  --border-radius-desktop: 30px;
  --border-radius-medium: 22.5px;
  --fast: 0.2s ease;
}

.overpass-preset-1-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.188rem;
  letter-spacing: 0;
}

.overpass-preset-2-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  letter-spacing: 0;
}

.overpass-preset-3-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.013rem;
}

.overpass-preset-4-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.938rem;
  font-weight: 700;
  line-height: 1.188rem;
  letter-spacing: 0.125rem;
}

.overpass-preset-4-regular {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
}

.overpass-preset-5-bold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.117rem;
}

.overpass-preset-5-semiBold {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5rem;
  letter-spacing: 0.011rem;
}

.overpass-preset-5-regular {
  font-family: "Overpass", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0;
}

.active-rating-num {
  background-color: var(--color-orange-500) !important;
  color: var(--color-grey-900) !important;
  transition: var(--fast);
}

.hidden {
  opacity: 0;
  transform: scale(0.8);
}

.none {
  display: none !important;
}

.invisible-thanks {
  display: none !important;
  opacity: none !important;
}

body {
  background-color: var(--color-grey-950);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  padding: 0 25px;
}

* {
  margin: 0;
  padding: 0;
}

.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  width: 400px;
  min-width: 350px;
  padding: 30px 20px;
  transition: var(--fast);
  background: var(--background-gradient);
  box-sizing: border-box;
  border-radius: var(--border-radius-mobile);
}

.rate-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.rate-form__logo-div {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.rate-form__logo-div__circle-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-900);
  border-radius: 50%;
  padding: 16px;
}
.rate-form__title {
  color: var(--color-white);
  width: 100%;
  text-align: start;
}
.rate-form__paragraph {
  color: var(--color-grey-500);
}
.rate-form__rating-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 16px;
}
.rate-form__rating-div input {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
  padding: 8px 16px;
  border-radius: 50%;
  background-color: var(--color-grey-900);
  border: none;
  color: var(--color-grey-500);
  text-align: center;
  transition: var(--fast);
  cursor: pointer;
}
.rate-form__rating-div input:active {
  background-color: var(--color-white);
  color: var(--color-grey-950);
}
.rate-form__rating-div input:hover {
  background-color: var(--color-white);
  color: var(--color-grey-950);
}
.rate-form #submit-btn {
  width: 100%;
  border: none;
  background-color: var(--color-orange-500);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  cursor: pointer;
  transition: var(--fast);
  border-radius: var(--border-radius-medium);
}
.rate-form #submit-btn:active {
  background-color: var(--color-white);
  color: var(--color-grey-950);
}
.rate-form #submit-btn:hover {
  background-color: var(--color-white);
  color: var(--color-grey-950);
}

.thanks {
  background: var(--background-gradient);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 24px;
  padding: 30px 20px;
  max-width: 100vw;
  width: 400px;
  min-width: 350px;
  transition: var(--fast);
  border-radius: var(--border-radius-mobile);
}
.thanks .selected {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px 4px 10px;
  border-radius: var(--border-radius-medium);
  background-color: var(--color-grey-900);
  box-sizing: border-box;
  transition: var(--fast);
}
.thanks .selected p {
  color: var(--color-orange-500);
  transition: var(--fast);
}
.thanks h1 {
  color: var(--color-white);
  transition: var(--fast);
}
.thanks #description {
  color: var(--color-grey-500);
  text-align: center;
  transition: var(--fast);
}

@media (min-width: 600px) {
  .rate {
    border-radius: var(--border-radius-desktop);
    padding: 40px 35px;
    width: 450px;
  }
  .rate-form__rating-div input {
    width: 51px;
    height: 51px;
  }
  .thanks {
    width: 412px;
    gap: 32px;
    padding: 40px 32px;
    border-radius: var(--border-radius-desktop);
  }
  .thanks .selected {
    padding: 8px 12px 6px 12px;
  }
}