@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'active-classes';

@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: var(--color-grey-950);
    @include flex-center;
    min-height: 100vh;
    max-width: 100vw;
    padding: 0 25px;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    @include flex-center;
    max-width: 100vw;
    width: 400px;
    min-width: 350px;
    padding: 30px 20px;
    transition: var(--fast);
    background: var(--background-gradient);
    box-sizing: border-box;
    border-radius: var(--border-radius-mobile);
}

.rate-form {
    @include flex-dir-col-center-center;
    gap: 24px;
    &__logo-div {
        width: 100%;
        @include flex-start-center;

        &__circle-div {
            @include flex-center;
            background-color: var(--color-grey-900);
            border-radius: 50%;
            padding: 16px;
        }
    }

    &__title {
        color: var(--color-white);
        width: 100%;
        text-align: start;
    }

    &__paragraph {
        color: var(--color-grey-500);
    }

    &__rating-div{
        @include flex-dir-row-btw-center;
        width: 100%;
        gap: 16px;

        input {
            @include flex-center;
            box-sizing: border-box;
            width: 42px;
            height: 42px;
            padding: 8px 16px;
            border-radius: 50%;
            background-color: var(--color-grey-900);
            border: none;
            color: var(--color-grey-500);
            text-align: center;
            transition: var(--fast);
            cursor: pointer;

            &:active {
                background-color: var(--color-white);
                color: var(--color-grey-950);
            }

            &:hover {
                background-color: var(--color-white);
                color: var(--color-grey-950);
            }
        }
    }

    #submit-btn {
        width: 100%;
        border: none;
        background-color: var(--color-orange-500);
        @include flex-center;
        padding: 16px 0;
        cursor: pointer;
        transition: var(--fast);
        border-radius: var(--border-radius-medium);

        &:active {
                background-color: var(--color-white);
                color: var(--color-grey-950);
            }
        
        &:hover {
                background-color: var(--color-white);
                color: var(--color-grey-950);
            }
    }
}

.thanks {
    background: var(--background-gradient);
    @include flex-dir-col-center-center;
    box-sizing: border-box;
    gap: 24px;
    padding: 30px 20px;
    max-width: 100vw;
    width: 400px;
    min-width: 350px;
    transition: var(--fast);
    border-radius: var(--border-radius-mobile);

    .selected{
        @include flex-center;
        padding: 6px 10px 4px 10px;
        border-radius: var(--border-radius-medium);
        background-color: var(--color-grey-900);
        box-sizing: border-box;
        transition: var(--fast);
        p {
            color: var(--color-orange-500);
            transition: var(--fast);
        }
    }

    h1{
        color: var(--color-white);
        transition: var(--fast);
    }

    #description {
        color: var(--color-grey-500);
        text-align: center;
        transition: var(--fast);
    }
}

@import 'media';