.jetbrains-preset-1 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.625rem;
  letter-spacing: 0px;
}

.jetbrains-preset-2 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0px;
}

.jetbrains-preset-3 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0px;
}

.jetbrains-preset-4 {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: 0px;
}