.preset-1 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 4.4375rem;
  letter-spacing: -0.0625rem;
}

.preset-2 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 2.937rem;
  letter-spacing: -0.0418rem;
}

.preset-3 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0rem;
}

.preset-4 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: 0rem;
}

.preset-5 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0rem;
}

.preset-6 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 0.8125rem;
  line-height: 1.1875rem;
  letter-spacing: 0rem;
}