@media (min-width: 601px) and (max-width: 1150px) {

    .main {
        width: 600px !important;
        padding: 40px 60px !important;
        border-radius: var(--main-redius-full) !important;
        margin-bottom: 50px;

        .calc {
            .tip-field{
                .tips-div{
                    .tip{
                        width: 148px;
                    }
                }
            }
        }

        .result {
            padding: 45px 45px;
        }
    }
}

@media (min-width: 1151px) {

    #logo {
        margin: 100px 75px 75px 75px!important;
    }

    .main {
        width: 1100px !important;
        padding: 30px 40px !important;
        border-radius: var(--main-redius-full) !important;

        .calc {
            @include flex-center-btw;
            flex-direction: row;
            width: 100%;
            gap: 20px;

            .first-half{

                .bill-field {
                    .bill-div {
                        #bill-input {
                            margin-right: 0;
                        }
                    }
                }

            .tip-field{
                .tips-div{
                    
                    gap: 15px;
                    .tip{
                        width: 148px;
                    }
                }
            }

            .people-field{
                .people-div{
                    #people {
                        margin-right: 0;
                    }
                }
            }    
        } 
    }

        .second-half{

            .result {
                width: 50%;
                padding: 45px 45px;
                gap: 40px;
                align-self: stretch;
                margin-top: 0;

                .reset-btn {
                    margin-top: 75px;
                }
            }
        } 
    }
}