@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-end {
    display: flex;
    align-items: center;
    justify-content: end;
}

@mixin flex-end-center {
    display: flex;
    align-items: end;
    justify-content: center;
}

@mixin flex-dir-col-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flex-dir-col-center-start {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

@mixin flex-center-btw {
    display: flex;
    align-items: center;
    justify-content: space-between;
}