:root {
//////////////////////////////////Colors//////////////////////////////////
    --white: #FFFFFF;
    --black: #000000;
    --grey-600: #3D6666;
    --grey-550: #547878;
    --grey-500: #5E7A7D;
    --grey-400: #7F9D9F;
    --grey-300: #9EBBBD;
    --grey-200: #C5E4E7;
    --grey-50: #F3F9FA;
    --green-900: #00474B;
    --green-800: #085C61;
    --green-750: #0D686D;
    --green-400: #26C2AE;
    --green-200: #9FE8DF;
    --orange-400: #E17052;
//////////////////////////////////Colors//////////////////////////////////
//////////////////////////////////Radius//////////////////////////////////
    --main-redius: 20px 20px 0 0;
    --input-radius: 5px;
    --main-redius-full: 20px 20px 20px 20px;
//////////////////////////////////Radius//////////////////////////////////
///////////////////////////////Transitions////////////////////////////////
    --fast: 0.2s ease;
///////////////////////////////Transitions////////////////////////////////
/////////////////////////////////Borders//////////////////////////////////
    --input-border: 2px solid var(--green-400);
    --input-error-border: 2px solid var(--orange-400);
/////////////////////////////////Borders//////////////////////////////////
/////////////////////////////////Shadows//////////////////////////////////
    --main-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    --tip-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
    --reset-btn-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}