@import 'mixins';
@import 'fonts';
@import 'variables';
@import 'active-classes';
@import 'media';

* {
    margin: 0;
    padding: 0;
}

body {
    @include flex-dir-col-center;
    background-color: var(--grey-200);
    height: auto;
}

#logo {
    margin: 30px 0;
}

.main {
    width: 100vw;
    background-color: var(--white);
    border-radius: var(--main-redius);
    height: auto;
    padding: 24px 24px;
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.calc {
    @include flex-dir-col-center;
    width: 100%;

    .first-half {
        width: 100%;

        .bill-field {
            width: 100%;
            @include flex-dir-col-center;
            border: none;


        .comment-box{
            @include flex-center-btw;
            width: 100%;

            #bill-label {
            color: var(--grey-500);
            } 
            
            span {
                color: var(--orange-400);
                transition: var(--fast);
            }
        }

        .bill-div {
            position: relative;
            width: 100%;
            height: auto;
            @include flex-center-end;
            box-sizing: border-box;

            svg {
                position: absolute;
                left: 15px;
                z-index: 1;
            }

            #bill-input {
                @include flex-center;
                color: var(--green-900);
                text-align: end;
                width: 100%;
                border: none;
                margin-right: 15px;
                padding: 5px 15px;
                outline: none;
                caret-color: var(--grey-600);
                border-radius: var(--input-radius);

                &:focus {   
                    border: var(--input-border);
                }

                &:focus::placeholder {   
                    color: transparent;
                }

                &[type = number]{
                    -moz-appearance: textfield;
                }
                &[type = number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button{
                    -webkit-appearance: none;        
                    margin: 0;
                }
            }
        }
        }
    
        .tip-field{
        @include flex-dir-col-center-start;
        margin: 25px 0;
        border: none;

        #tip-label {
            color: var(--grey-500);
            margin-bottom: 10px
        }

        .tips-div {
            width: 100% ;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 15px;

            .tip {
                color: var(--white);
                background-color: var(--green-900);
                border: none;
                border-radius: 5px;
                width: 45%;
                height: 48px;
                cursor: pointer;
                transition: var(--fast);

                &:active {
                    background-color: var(--green-200);
                    color: var(--green-900);
                    transform: scale(1.1);
                    }

                &:focus {
                    outline: none;
                    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
                }
            }

            #custom-tip {
                text-align: center;
                background-color: transparent;
                color: var(--grey-550);
                outline: none;
                caret-color: var(--grey-600);
                transition: var(--fast);

                &:focus::placeholder {
                    color: transparent;
                }

                &[type = number]{
                    -moz-appearance: textfield;
                }
                &[type = number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button{
                    -webkit-appearance: none;        
                    margin: 0;
                }

                &:active {
                    transform: scale(1.1);
                }

                &:focus {
                    outline: none;
                    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5);
                }
            }
        }
        }

        .people-field {
        border: none;
        @include flex-dir-col-center-start;
        width: 100%;

        .comment-box{
            @include flex-center-btw;
            width: 100%;

            #people-label{
            color: var( --grey-500);
            } 
            
            span {
                color: var(--orange-400);
                transition: var(--fast);
            }
        }

        .people-div {
            position: relative;
            width: 100%;
            height: auto;
            @include flex-center-end;
            box-sizing: border-box;

            svg {
                position: absolute;
                left: 15px;
                z-index: 1;
            }

            #people {
                @include flex-center;
                color: var(--green-900);
                text-align: end;
                width: 100%;
                border: none;
                margin-right: 15px;
                padding: 5px 15px;
                outline: none;
                caret-color: var(--grey-600);
                border-radius: var(--input-radius);

                &:focus {   
                    border: var(--input-border);
                }

                &:focus::placeholder {   
                    color: transparent;
                }

                &[type = number]{
                    -moz-appearance: textfield;
                }
                &[type = number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button{
                    -webkit-appearance: none;        
                    margin: 0;
                }
            }
        }
        }   
    }
}

.second-half {
    @include flex-center;
    width: 100%;
    .result {
    @include flex-dir-col-center;
    background-color: var(--green-900);
    border-radius: 15px;
    padding: 30px 20px;
    gap: 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border: none;
    flex: 1;

    .tip-box {
        @include flex-center-btw;
        width: 100%;

        .tip-label {
            @include flex-dir-col-center-start;

            #tip-amount {
                color: var(--white);
            }

            #tip-person {
                color: var(--grey-400);
            }
        }

        #tip-result {
            color: var(--green-400);
            transition: var(--fast);
        }
    }

    .total-box {
        @include flex-center-btw;
        width: 100%;

        .total-label {
            @include flex-dir-col-center-start;

            #total-amount {
                color: var(--white);
            }

            #total-person {
                color: var(--grey-400);
            }
        }

        #total-result {
            color: var(--green-400);
            transition: var(--fast);
        }
    }

    .reset-btn {
        border: none;
        border-radius: var(--input-radius);
        background-color: var(--green-400);
        width: 100%;
        height: 50px;
        color: var(--green-900);
        cursor: pointer;
        transition: var(--fast);

        &:active {
            background-color: var(--green-200);
            transform: scale(1.1);
        }

        &:focus {
            outline: none;
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
        }
    }
} 
}

