.user-info {
    @include direction-column-center;
    height: auto;
    width: auto;
    position: relative;
    background-color: var(--navy-900);
    border-radius: var(--main);
    

    &__header {
        @include direction-row-center;
        background-color: var(--purple-600);
        border-radius: var(--main);
        padding: 32px;
        gap: 15px;
        position: relative;
        z-index: 200;
        
        &__img-div{
            height: 60px;
            width: 60px;
            border-radius: var(--circle);
            border: 3px solid var(--white);

            img {
                height: 100%;
                cursor: pointer;
            }
        }

        &__text-div {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 5px;

            #first-span {
                color: var(--navy-200);
            }

            #user-name {
                color: var(--white);
            }
        }


    }

    &__footer {
        @include direction-row-center;
        gap: 13%;
        position: relative;
        width: 100%;
        top: 90%;
        z-index: 100;
        

        #daily {
            color: var(--purple-500);
            cursor: pointer;
        }

        #weekly {
            color: var(--purple-500);
            cursor: pointer;
        }

        #monthly {
            color: var(--purple-500);
            cursor: pointer;
        }
    }
}