.rubik-preset-1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 9rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
}

.rubik-preset-2-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 4rem;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 0px;
}

.rubik-preset-2-light {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 4rem;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: 0px;
}

.rubik-preset-3 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0px;
}

.rubik-preset-4 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
}

.rubik-preset-5-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
}

.rubik-preset-5-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0px;
}

.rubik-preset-6 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 150%;
  letter-spacing: 0px;
}

.rubik-preset-1-mobile {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 5.5rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
}

.rubik-preset-2-mobile-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
}

.rubik-preset-2-mobile-light {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 100%;
  letter-spacing: 0px;
}

.rubik-preset-3-mobile {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0px;
}

.rubik-preset-4-mobile {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0px;
}

.rubik-preset-5-mobile {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0px;
}