@mixin flex-column-center-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@mixin flex-row-btw-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-row-start-center {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

@mixin flex-column-start-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@mixin flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}