@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'active-classes';
@import 'media';

* {
    margin: 0;
    padding: 0;
}


body {
    @include flex-column-center-start;
    background-color: var(--grey50);
    padding: 0 30px;
    box-sizing: border-box;
}

#div-for-main-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    svg {
        width: 100%;
    }

    picture {
        width: 100%;
    }
}

.op {
    flex-shrink: 0;
}

#big {
    position: absolute;
    z-index: 0;
}

#dark-big {
    position: absolute;
    z-index: 0;
}

.header {
    position: relative;
    width: 100%;
    @include flex-row-btw-center;
    box-sizing: border-box;
    padding: 24px 0;
    z-index: 1;
    margin-bottom: 35px
}

.categorie-div {
    @include flex-row-start-center;
    width: 45%;
    gap: 25px;
    z-index: 1;

    &__svg-div {
        @include flex-center;
        padding: 5px 5px;
        border-radius: 6px;

        svg {
            height: 90%;
            width: 90%;
        }
    }

    &__h2 {
        color: var(--blue900)
    }
}

.theme-div {
    @include flex-row-btw-center;
    gap: 5px;
    z-index: 1;
    box-sizing: border-box;

    #btn {
        height: 24px;
        width: 40px;
        background-color: var(--purple600);
        border: none;
        position: relative;
        border-radius: 35px;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            left: 4px;
            top: 4px;
            background-color: var(--white);
            transition: var(--fast);
        }
    }
}

.main-text-div {
    margin-bottom: 30px;
    gap: 10px;
    width: 100%;
    @include flex-column-start-center;
    z-index: 1;

    &__first-h1 {
        color: var(--blue900);
    }

    &__second-h1 {
        color: var(--blue900);
    }

    &__p {
        color: var(--grey500);
    }
}

.categories {
    @include flex-column-center-center;
    gap: 15px;
    width: 100%;
    z-index: 1;

    .categorie {
        @include flex-row-start-center;
        width: 100%;
        gap: 15px;
        box-shadow: var(--box-shadow);
        padding: 16px 5px;
        border-radius: 12px;
        color: var(--blue900);
        transition: var(--fast);
        box-sizing: border-box;
        cursor: pointer;

        &:active {
            transform: scale(0.9);
            transition: var(--fast);
        }

        .svg-div {
            @include flex-center;
            padding: 5px 5px;
            border-radius: 6px;
            background-color: transparent;
            margin-left: 20px;
        }
    }

    #green {
        background-color: var(--green100);
    }

    #pink {
        background-color: var(--purple100);
    }

    #orange {
        background-color: var(--orange50);
    }

    #blue {
        background-color: var(--blue50);
    }
}

.questions {
    @include flex-column-center-center;
    gap: 15px;
    z-index: 1;
    width: 100%;

    .answer {
        position: relative;
        @include flex-row-start-center;
        width: 100%;
        gap: 15px;
        box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1);
        padding: 20px 5px;
        border-radius: 15px;
        color: var(--blue900);
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            border: 2px solid var(--purple600)
        }

        &:active {
            transform: scale(0.95);
            transition: var(--very-fast);
            border: 2px solid var(--purple600)
        }

        .option {
            @include flex-center;
            width: 40px;
            height: 40px;
            border-radius: 6px;
            background-color: transparent;
            margin-left: 20px;
            h2 {
                color: var(--grey500);
            }
        }

        .answer-span {
            color: var(--blue900);
        }
    }
}
.question-count {
    color: var(--grey500);
}

.question {
    margin-top: 15px;
    color: var(--blue900);
}

.progress-bar {
    margin-top: 15px;
    color: var(--purple600);
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: var(--white);
    padding: 3px 5px;
    height: 16px;
    box-sizing: border-box;
    overflow: hidden;
    transition: var(--fast);
    z-index: 1;

    .progress {
        transition: var(--fast);
        background-color: var(--purple600);
        height: 100%;
        border-radius: 10px;
        width: 0%;
    }
}

.next {
    @include flex-center;
    width: 100%;
    background-color: var(--purple600);
    color: var(--white);
    border: none;
    border-radius: 13px;
    padding: 20px 0;
    cursor: pointer;
    transition: var(--fast);
    box-sizing: border-box;

    &:active {
        transform: scale(0.95);
        transition: var(--fast);
    }
}

.op-title {
    cursor: pointer;
}

.validity-svg {
    position: absolute;
    right: 15px;
}

.titles {
    @include flex-column-start-center;
    width: 100%;
    margin: 30px 0;
}

.score-div {
    @include flex-column-center-center;
    z-index: 2;
    width: 100%;
    gap: 15px;
    border-radius: 12px;
    padding: 35px 0;
    box-sizing: border-box;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow)
}

.type {
    @include flex-row-btw-center;
    gap: 15px;

    h2 {
        color: var(--blue900);
    }
}

#completed {
   color: var(--blue900);
}

#you-scored {
    color: var(--blue900);
}

#score {
    color: var(--blue900);
}

#of {
    color: var(--grey500);
}

.answer-span {
    cursor: pointer;
}

