.input-radio{
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none; 
    cursor: pointer;
    border: 1px solid var(--color-grey-500);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: none;
    transition: var(--fast);

    &:focus {
        transition: var(--fast);
        box-shadow: 0 0 6px 5px rgba(#86A2A5, 0.4);
    }

    &:checked{
        border: 1px solid var(--color-green-600); 
    }
}