.rubik-preset-1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: 0px;
}

.rubik-preset-2 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0px;
}

.rubik-preset-3 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0px;
}

.rubik-preset-4 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0px;
}

.rubik-preset-5-medium {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0px;
}

.rubik-preset-5-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0px;
}

.rubik-preset-6-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0px;
}