:root {
///////////////////////////////Colors///////////////////////////////
    --white: #FFFFFF;
    --black: #000000;
    --navy-950: #0E1323;
    --navy-900: #1C204B;
    --navy-800: #33397A;
    --navy-200: #BBC0FF;
    --oragnge-300: #FF8B64;
    --purple-700: #7335D2;
    --purple-600: #5747EA;
    --purple-500: #7078C9;
    --blue-300: #55C2E6;
    --pink-400: #FF5E7D;
    --green-400: #4BCF82;
    --yellow-400: #F1C75B;
    --grey-400: #D8D8D8;
///////////////////////////////Colors///////////////////////////////
///////////////////////////////Radius/////////////////////////////// 
    --circle: 50%;
    --top-div: 15px 15px 20px 20px;
    --main: 15px;
///////////////////////////////Radius///////////////////////////////
/////////////////////////////Transition/////////////////////////////
    --fast: 0.1s ease;
/////////////////////////////Transition/////////////////////////////
}

