@import 'mixins';
@import 'variables';
@import 'fonts';
@import 'media';


body {
    width: 100vw;
    margin: 0;
    padding: 0;
    @include flex-center;
    background-color: #36384D;
    font-family: "Roboto", sans-serif;
    font-style: normal; 
    box-sizing: var(--box-sizing);
    color: #242742;
}

.success-icon {
    width: 100%;
    margin: 0;
}

.container {
    @include flex-center;
    width: 70vw;
    box-sizing: var(--box-sizing);
}

.sign-cart {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    padding: 1.5em 2em;
    border-radius: 30px;
    justify-content: space-between;
    box-sizing: var(--box-sizing);
    margin: 0;

    #main-svg {
        display: block;
        width: 100%;
        margin: 0;
    }

    &__main-div {
    display: flex;
    width: 50%;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    margin: 0;
    box-sizing: var(--box-sizing);

    h1 {
        @include fluid-text(50, 30);
        text-align: start;
        margin: 0;
        margin-top: 17%;

    }

    #description {
        text-align: start;
        width: 85%;
        margin: 0;
        @include fluid-text(16, 14);
    }

     &__conditionals-div{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        position: relative;
        gap: 0.5em;
        
            .conditional {
            @include flex-center;
            align-items: start;
            @include fluid-text(16, 14);
            justify-content: start;
            gap: 1em;
            margin: 0;
        }
    }

}

    &__form-div {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        align-items: start;
        justify-content: center;
        height: 33%;
        box-sizing: var(--box-sizing);

          &__commetns-div {
            height: 1.5em;
            width: 94%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            #error-comment {
                color: #FF6155;
            }
          }

          & form{
            display: flex;
            flex-direction: column;
            gap: 1.5em;
            height: 100%;
            box-sizing: var(--box-sizing);

            #email {
                width: 90%;
                height: var(--input-height);
                border-radius: var(--btns-border-radius);
                border: solid 1px var(--grey);
                outline: none;
                padding-left: 1.5em;
                box-sizing: var(--box-sizing);

                &::placeholder {
                    color: var(--grey);
                }

                &:focus::placeholder {
                    opacity: 0;
                    transition: 0.3s;
                }
            }

            .email-submit-btn {
                @include flex-center;
                background-color: #242742;
                border: none;
                height: var(--input-height);
                width: 90%;
                color: #FFFFFF;
                font-weight: 500;
                text-align: center;
                @include fluid-text(16, 14);
                border-radius: var(--btns-border-radius);
                cursor: pointer;
                box-sizing: var(--box-sizing);

                &:active {
                    background: linear-gradient(to right, #FF6A3A, #FF527B)
                }
            }
          }
        }
}

.success {
    display: none;
    // display: block;
    background-color: #FFFFFF;
    padding: 3em;
    border-radius: 30px;
    box-sizing: border-box;
    width: 500px;
    height: auto;

    svg {
        position: relative;
    }

    h1 {
        position: relative;
        font-size: 55px;
        line-height: 1em;
    }

    p{
        position: relative;
        line-height: 1.4em;
        font-size: 16px;
    }

    button {
        position: relative;
        height: 3.5rem;
        color: #FFFFFF;
        background-color: #242742;
        border: none;
        border-radius: var(--btns-border-radius);
        overflow: visible;
        font-size: 16px;

        &:active {
            background: linear-gradient(to right, #FF6A3A, #FF527B);
        }

        &:active::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -10px;    /* расстояние под кнопкой */
        transform: translateX(-50%);
        width: 100%;
        height: 15px;     /* высота свечения */
        background: linear-gradient(to right, #FF6A3A, #FF527B);
        filter: blur(20px);     /* супер-мягкое размытие */
        opacity: 1;          /* лёгкое, как на картинке */
        border-radius: 5px;
        pointer-events: none;
        }
    }
}

.mb-1 {
    margin: 0;
    margin-bottom: 2rem;
}

.h-100vh {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}
