:root {
  --btns-border-radius: 8px;
  --grey: #949494;
  --input-height: 3.5rem;
  --box-sizing: border-box;
  --slow-transition: 0.3s ease;
  --fast-transition: 0.2s ease;
  --error-comment-transition: opacity 0.3s ease-in-out;
  --gradient: linear-gradient(to right, #FF6A3A, #FF527B);
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@media (max-width: 601px) {
  .container {
    min-width: 100vw !important;
    min-height: 100vh !important;
  }
  .container .sign-cart {
    min-width: 100%;
    height: 100vh;
    border-radius: 0;
    flex-direction: column-reverse;
    padding: 0;
    gap: 0;
  }
  .container .sign-cart #main-svg {
    height: auto;
  }
  .container .sign-cart__main-div {
    width: 100%;
    padding: 1.5em;
    height: auto;
    gap: 1.5rem;
  }
  .container .sign-cart__main-div h1 {
    margin: 0;
    font-size: clamp(2.5rem, 2.0673076923rem + 1.9230769231vw, 3.75rem);
  }
  .container .sign-cart__main-div #description {
    width: 90%;
    font-size: clamp(0.9375rem, 0.8725961538rem + 0.2884615385vw, 1.125rem);
  }
  .container .sign-cart__main-div__conditionals-div {
    width: 100%;
  }
  .container .sign-cart__main-div__conditionals-div .conditional {
    font-size: clamp(0.9375rem, 0.8293269231rem + 0.4807692308vw, 1.25rem);
  }
  .container .sign-cart__form-div {
    width: 100%;
    height: auto;
    margin-bottom: 2em;
    margin-top: 1em;
  }
  .container .sign-cart__form-div form {
    gap: 1.5rem;
    height: auto;
  }
  .container .sign-cart__form-div form #email {
    width: 100%;
    height: 4em;
  }
  .container .sign-cart__form-div form .email-submit-btn {
    width: 100%;
    height: 4em;
  }
  .container .success {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
  .container .success svg {
    margin-top: 6rem;
  }
  .container .success h1 {
    font-size: 45px;
  }
  .container .success button {
    margin-top: 30vh;
  }
}
@media (min-width: 602px) and (max-width: 901px) {
  .container {
    width: 100vw !important;
    height: 100vh !important;
  }
  .container .sign-cart {
    width: 85%;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
  .container .sign-cart__main-div {
    width: 100%;
    height: 100%;
    gap: 1.5rem;
  }
  .container .sign-cart__main-div h1 {
    font-size: clamp(2.5rem, 2.0673076923rem + 1.9230769231vw, 3.75rem);
    margin: 0;
  }
  .container .sign-cart__main-div #description {
    width: 100%;
    font-size: clamp(0.9375rem, 0.8725961538rem + 0.2884615385vw, 1.125rem);
  }
  .container .sign-cart__main-div__conditionals-div {
    width: 100%;
  }
  .container .sign-cart__main-div__conditionals-div .conditional {
    width: 100%;
    font-size: clamp(0.9375rem, 0.8725961538rem + 0.2884615385vw, 1.125rem);
  }
  .container .sign-cart__form-div {
    height: 90%;
  }
  .container .sign-cart__form-div form {
    width: 100%;
  }
  .container .sign-cart__form-div form #email {
    width: 100%;
    height: 4.5rem;
  }
  .container .sign-cart__form-div form .email-submit-btn {
    width: 100%;
    height: 4.5rem;
  }
}
body {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36384D;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  box-sizing: var(--box-sizing);
  color: #242742;
}

.success-icon {
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  box-sizing: var(--box-sizing);
}

.sign-cart {
  position: absolute;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 1.5em 2em;
  border-radius: 30px;
  justify-content: space-between;
  box-sizing: var(--box-sizing);
  margin: 0;
  opacity: 1;
  transform: scale(1);
  transition: var(r--slow-transition);
}
.sign-cart #main-svg {
  display: block;
  width: 100%;
  margin: 0;
}
.sign-cart__main-div {
  display: flex;
  width: 50%;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 5%;
  margin: 0;
  box-sizing: var(--box-sizing);
}
.sign-cart__main-div h1 {
  font-size: clamp(1.875rem, 1.4423076923rem + 1.9230769231vw, 3.125rem);
  text-align: start;
  margin: 0;
  margin-top: 17%;
}
.sign-cart__main-div #description {
  text-align: start;
  width: 85%;
  margin: 0;
  font-size: clamp(0.875rem, 0.8317307692rem + 0.1923076923vw, 1rem);
}
.sign-cart__main-div__conditionals-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  gap: 0.5em;
}
.sign-cart__main-div__conditionals-div .conditional {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: start;
  font-size: clamp(0.875rem, 0.8317307692rem + 0.1923076923vw, 1rem);
  justify-content: start;
  gap: 1em;
  margin: 0;
}
.sign-cart__form-div {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: start;
  justify-content: center;
  height: 33%;
  box-sizing: var(--box-sizing);
}
.sign-cart__form-div__commetns-div {
  height: 1.5em;
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sign-cart__form-div__commetns-div #error-comment {
  opacity: 0;
  color: #FF6155;
  transition: var(--error-comment-transition);
  display: block;
}
.sign-cart__form-div form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  height: 100%;
  box-sizing: var(--box-sizing);
}
.sign-cart__form-div form #email {
  width: 90%;
  height: var(--input-height);
  border-radius: var(--btns-border-radius);
  border: solid 1px var(--grey);
  outline: none;
  padding-left: 1.5em;
  box-sizing: var(--box-sizing);
  transition: var(--slow-transition);
}
.sign-cart__form-div form #email::placeholder {
  color: var(--grey);
}
.sign-cart__form-div form #email:focus::placeholder {
  opacity: 0;
  transition: var(--slow-transition);
}
.sign-cart__form-div form .email-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242742;
  border: none;
  height: var(--input-height);
  width: 90%;
  color: #FFFFFF;
  font-weight: 500;
  text-align: center;
  font-size: clamp(0.875rem, 0.8317307692rem + 0.1923076923vw, 1rem);
  border-radius: var(--btns-border-radius);
  cursor: pointer;
  box-sizing: var(--box-sizing);
}
.sign-cart__form-div form .email-submit-btn:active {
  background: var(--gradient);
}

.success {
  position: absolute;
  background-color: #FFFFFF;
  padding: 3em;
  border-radius: 30px;
  box-sizing: var(--box-sizing);
  width: 500px;
  height: auto;
  opacity: 0;
  transform: scale(0.5);
}
.success svg {
  position: relative;
}
.success h1 {
  position: relative;
  font-size: 55px;
  line-height: 1em;
}
.success p {
  position: relative;
  line-height: 1.4em;
  font-size: 16px;
}
.success button {
  position: relative;
  height: 3.5rem;
  color: #FFFFFF;
  background-color: #242742;
  border: none;
  border-radius: var(--btns-border-radius);
  overflow: visible;
  font-size: 16px;
}
.success button:active {
  background: var(--gradient);
}
.success button:active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 100%;
  height: 15px;
  background: var(--gradient);
  filter: blur(20px);
  opacity: 1;
  border-radius: 5px;
  pointer-events: none;
}

.mb-1 {
  margin: 0;
  margin-bottom: 2rem;
}

.h-100vh {
  height: 100vh;
}

.w-100 {
  width: 100%;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-400 {
  font-weight: 400;
}

.error-comment-visible {
  opacity: 1 !important;
  transition: var(--error-comment-transition);
}

.input-error {
  border: 1px solid #FF6155 !important;
  background-color: #FFE6E6;
  color: #FF6155;
  transition: var(--slow-transition);
}

.sign-cart-hidden {
  opacity: 0;
  pointer-events: none;
}

.success-visible {
  display: block;
  opacity: 1;
  transform: scale(1);
  transition: var(--fast-transition);
}

.signup-scale0 {
  opacity: 0;
  transform: scale(0.7);
  transition: var(--fast-transition);
}

/*# sourceMappingURL=styles.css.map */